@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: auto;
}

body{
    background-color: #f2f2f2;
    position: relative;
    margin: 0;
    padding: 0;
}

header{
    border-top: 10px solid #fcee21;
}

.subtitulo{
    margin-top: 0;
}

#nav{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.componente1{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.componente2{
    position: relative;
    display: flex;
    width: 100%;
}

.subcomponente3 h3, p{
    width: 80%;
}

.componente3{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subcomponente5{
    margin-left: 180px;
}

.titulo{
    font-family: 'Coiny';
    font-weight: 400;
    font-size: 56px;
    display: inline-block;
}

#listaNav{
    list-style-type: none;
}

.menu{
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 50px;
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.subcomponente1{
    position: relative;
    width: auto;
    padding: 0;
    align-items: column;
    justify-content: space-between;
}

.somos{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin: 0;
    height: 220px;
    width: 500px;
}

#wapas{
    font-family: 'Coiny';
    font-weight: 400;
    font-size: 117px;
}

.subtitulo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
    background-color: #fcee21;
    width: 100%;
}

.parrafo1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

#relaciones{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.fotoChicas{
    width: 500px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 34px;
    background-color: #fcee21;
}

.parrafo2, .parrafo3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

#complemento, #presencia {
    font-weight: 700;
}

.imgservicios{
    width: 500px;
    display: inline-block;
}

#servicios {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 54px;
}

ol {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    list-style-position: outside;
}

.li{
    padding: 10px;
}

#lista7 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    background-color: #fcee21;
    margin-left: -43px;
}

.lista7 {
    background-color: #fcee21;
}

.componente4{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subcomponente6{
    width: 50%;
}

.formulario form, input{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 27px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    resize: none;
    height: 200px;
}

button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 20px;
    margin-left: 0; 
}

button:hover{
    background-color: rgb(78, 75, 75);
}


#contacto {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 68px;
    background-color: black;
    color: white;

}

.consulta {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 44px;
    background-color: #fcee21;
    color: black;
}

footer{
    margin-top: 130px;
    background-color: #fcee21;
    padding-left: 50px;
}

.footerwapas{
    font-family: 'Coiny';
    font-weight: 400;
    font-size: 44px;
    color: black;
    display: inline-block;
}

#mailto{
    position: relative;
    left: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    color: black;
    text-decoration: none;
}

.redes{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    color: #808080;
    width: auto;
}

.rojito{
    color: red;
}

#imagenes{
    width: 115px;
}

.divImagenes{
    display: flex;
    justify-content: space-around;
}

